[Unit]
Description=PiBQ Dashboard Service (Flask/Plotly Dash)
After=network.target pibq-recorder.service
Wants=network.target
Requires=pibq-recorder.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi/PiBQ
Environment=PATH=/home/pi/PiBQ/pibq/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=/home/pi/PiBQ/pibq/bin/python3 app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pibq-dashboard

[Install]
WantedBy=multi-user.target